.reporting{

    &__title{
        margin-bottom: 5px;
        font-size: 20px;
        font-weight: 500;
    }

    &__subtitle{
        color: var(--battleship-gray-color);
        font-size: 14px;
    }
}