@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root{
    --white-color: #fff;
    --black-color: #000;

    // BITTERSWEET COLOR
    --bittersweet-color: #FF5B62;
    --bittersweet-lighter-color: #FF6971;
    --bittersweet-darker-color: #FA575F;

    --battleship-gray-color: #929292;

    // SEASALT COLOR
    --seasalt-color: #F6F6F6;
    --seasalt-darker-color: #F2F2F2;
    --seasalt-color-2: #f7f7f8;

    // BORDER COLOR
    --platinum-color: #e2e5e9;

}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1200px;
